ANSH PRATAP SINGH

PRN: 25070123143

AIM: STUDY OF SETS IN PYTHON

In [1]:
# creation of set
thisset = {"apple","banana","cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [5]:
thisset = {"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'cherry', 'orange', 'banana'}

In [ ]:
#SETS
# Duplicates are not allowed
dihset =  {"apple", "banana", "cherry", "apple"}
print(dihset)

{'banana', 'cherry', 'apple'}

In [ ]:
# The values True and 1 are considered the same value in sets so,
dihset = {"apple", "banana", "cherry", True, 1, 2}
print(dihset)

{'banana', 2, True, 'cherry', 'apple'}

In [ ]:
# To check membership
dihset = {"apple", "banana", "cherry"}
print("banana" in dihset)
print("orange" in dihset)

True
False

In [ ]:
# Once a set is created, you cannot jreplace its items, but you can add new items.
dihset = {"apple", "banana", "cherry"}
dihset.add("orange")
print(dihset)

{'banana', 'orange', 'cherry', 'apple'}

In [ ]:
# Remove item
dihset = {"apple", "banana", "cherry"}
dihset.remove("banana")
print(dihset)

{'cherry', 'apple'}

In [ ]:
# Set operations
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print("Union:",A | B) # Union
print("Intersection:",A & B) # Intersection
print("Difference:",A - B) # Difference
print("Symmetric Difference:", A ^ B) # Symmetric Difference

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}
Symmetric Difference: {1, 2, 5, 6}

In [ ]:
# Frozen set
x = frozenset([1, 2, 3, 4, 5])
print(x)
print(type(x))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

'''Problem Statement 1: Unique Event participants

A college event has a list of stufents who registered multiple time by mistake.

Wite a python program using set to to store participant Names and display only unique participants. '''

In [ ]:
registered_participants = ["ANSH", "DIVIJ", "TRUMP", "ANSH", "CLINTON", "DIVIJ", "EPSTIEN"]

unique_participants = set(registered_participants)

print("Original Registered Participants (with duplicates):")
print(registered_participants)
print("\nUnique Participants:")
print(unique_participants)

Original Registered Participants (with duplicates):
['ANSH', 'DIVIJ', 'TRUMP', 'ANSH', 'CLINTON', 'DIVIJ', 'EPSTIEN']

Unique Participants:
{'CLINTON', 'TRUMP', 'ANSH', 'EPSTIEN', 'DIVIJ'}

'''Problem Statement 2: Three students choose elective subjects.

Find the common subjects chosen by all students using set operations.

concept used: Set intersection (&)'''

In [ ]:
# Elective subjects chosen by three stud
stud1_subjects = {"Physics", "Chemistry", "Math", "Computer Science"}
stud2_subjects = {"Math", "Biology", "Chemistry", "English"}
stud3_subjects = {"Computer Science", "Math", "Physics", "History"}

# Find common subjects using set intersection
common_subjects = stud1_subjects & stud2_subjects & stud3_subjects

print("Student 1's subjects:", stud1_subjects)
print("Student 2's subjects:", stud2_subjects)
print("Student 3's subjects:", stud3_subjects)
print("\nCommon subjects chosen by all students:", common_subjects)

Student 1's subjects: {'Computer Science', 'Physics', 'Chemistry', 'Math'}
Student 2's subjects: {'English', 'Biology', 'Math', 'Chemistry'}
Student 3's subjects: {'Computer Science', 'History', 'Physics', 'Math'}

Common subjects chosen by all students: {'Math'}

'''Problem Statement 3: One set contains student in the cricket club another in the football club.

Write a python program to find students who are:

1- In both club

2-In only one club

In [ ]:
# Students in the Cricket Club
cricket_club = {"ANSH", "Heisenberg", "GUS", "JESSE", "SAUL"}

# Students in the Football Club
football_club = {"GUS", "MIKE", "Heisenberg", "WALTER", "HANK"}

print("Cricket Club Members:", cricket_club)
print("Football Club Members:", football_club)

# 1- Students in both clubs (Intersection)
students_in_both_clubs = cricket_club.intersection(football_club)
print("\nStudents in both clubs:", students_in_both_clubs)

# 2- Students in only one club (Symmetric Difference)
students_in_only_one_club = cricket_club.symmetric_difference(football_club)
print("Students in only one club:", students_in_only_one_club)

Cricket Club Members: {'JESSE', 'GUS', 'Heisenberg', 'SAUL', 'ANSH'}
Football Club Members: {'Heisenberg', 'MIKE', 'HANK', 'WALTER', 'GUS'}

Students in both clubs: {'Heisenberg', 'GUS'}
Students in only one club: {'JESSE', 'ANSH', 'MIKE', 'HANK', 'SAUL', 'WALTER'}

'''Problem Statement 4: Absent students

Given a set of all students and a set of present students, Write a python program to find all the absent students.

In [ ]:
all_students = {"ANSH", "DIVIJ", "NAMAN", "NEIL", "MODI"}
present_students = {"MODI", "ANSH", "DIVIJ"}

absent_students = all_students - present_students

print("All Students:", all_students)
print("Present Students:", present_students)
print("Absent Students:", absent_students)

All Students: {'NEIL', 'NAMAN', 'MODI', 'DIVIJ', 'ANSH'}
Present Students: {'MODI', 'DIVIJ', 'ANSH'}
Absent Students: {'NAMAN', 'NEIL'}

'''Problem Statement 5: Remove Invalid Entries.

A set contains valid course codes. Write a python program to remove a discontinued course code from the set.

In [ ]:
courses = {"ETC101", "ETC102", "ETC103"}
print("All courses:", courses)
courses.discard("ETC102")
print("Updated courses:", courses)

All courses: {'ETC101', 'ETC102', 'ETC103'}
Updated courses: {'ETC101', 'ETC103'}